<div class="text-center">
    <h2>{{post.title}}</h2>
    <p>Written on {{formatDate post.createdAt "MMM DD, YYYY h:mm A"}}</p>
    <p>{{post.contents}}</p>
    <p> - {{post.user.user_name}}</p>
    
</div>

<div class="text-center">
    <h3>Comments</h3>
    {{#if post.comments}}
{{#each post.comments}}
<h4>{{this.user.user_name}}</h4>
    <p>{{this.comment}}</p>
    {{/each}}
    {{else}}
    <p>No comments yet</p>
    {{/if}}
    
</div>
{{#if logged_in}}
<div class="row mt-4">
  <div class="col-md-6">
    <h3>New Comment:</h3>

    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-input" id="text" name="comment-name"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Comment</button>
      </div>
    </form>
  </div>

{{/if}}

<script src="/js/comment.js"></script>