<div class="text-center">
    <h2>{{post.title}}</h2>
    <p>Written on {{formatDate post.createdAt "MMM DD, YYYY h:mm A"}}</p>
    <p>{{post.contents}}</p>
    <p> - {{post.user.user_name}}</p>
    
</div>

<div class="text-center">
    <h3>Comments</h3>
    {{#if post.comments}}
{{#each post.comments}}
<h4>{{this.user.user_name}}</h4>
    <p>{{this.comment}}</p>
    {{/each}}
    {{else}}
    <p>No comments yet</p>
    {{/if}}
</div>
